.wrapper {
    width: 100%;
    background-color: #fff;
    border-top-right-radius: 5px;
    border-top-left-radius: 5px;
}

.header {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    color: #000;
    display: flex;
    font-family: sans-serif;
    padding: 10px 0;
    cursor: pointer;
    border-bottom: 1px solid #ccc;
    background-color: #fff;

    .arrow-left {
        font-size: 18px;
    }

    span {
        min-width: 70px;
        margin-left: 10px;
    }

    &:hover {
        background-color: #ccc;
    }
}

.darkmode {
    background-color: var(--dark-mode);
    color: #fff;
    &:hover {
        background-color: #444;
    }
}
