.wrapper {
    position: relative;
}

.represent-icon-wrapper {
    cursor: pointer;
    width: 24px;
    height: 24px;
    border-radius: 50%;
    padding: 5px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #fff;
    color: #000 !important;

    .represent-icon {
        font-size: 16px;
    }

    &:hover {
        background-color: var(--button-icon-hover);
    }
}

.react-icon-list {
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    top: -4.2rem;
    right: 50%;
    transform: translateX(50%);
    padding: 4px 10px;
    background-color: rgb(69, 67, 67);
    border-radius: 20px;
    box-shadow: 0px 0px 2px 1px #aaa;
    z-index: 5;

    .react-icon {
        width: 30px;
        height: 30px;
        cursor: pointer;
        border-radius: 50%;
    }

    .react-icon + .react-icon {
        margin: 0 3px;
    }

    &:after {
        content: '';
        display: block;
        width: 100%;
        height: 12px;
        position: absolute;
        background-color: transparent;
        bottom: -10px;
    }

    &:before {
        content: '';
        display: block;
        width: 100%;
        height: 12px;
        position: absolute;
        background-color: transparent;
        top: -8px;
    }
}
